body {
  margin: 0;
  font-family: 'Fahkwang', sans-serif;
  font-size: 1.5rem;
}

header {
  min-height: 100vh;
  background-color: #c1e888;

}

nav {
  background-color: black;
  position: fixed;
  width: 100%;
}

nav a {
  color: white;
  text-decoration: none;
}

nav li {
  display: inline-block;
  padding: 1.5rem;
}

nav ul {
  margin: 0;
  text-align: center;
}

header main {
  text-align: center;
  padding-top: 4rem;
}

h1 {
  text-transform: uppercase;
  font-size: 2.75rem;
  letter-spacing: 0.25rem;
}

.about-me {
  background-color: black;
  color: white;
  line-height: 1.5;
  padding: 3rem 0;
}

.content {
  width: 80%;
  margin: 0 auto;
  font-size: 1.1rem;
}

.projects {
  padding: 3.5rem 0;
  line-height: 1.25;
  background-color: grey;
}

.projects img {
  width: 30%;
}
